/* PaginaStijl.css */

body {
    background: linear-gradient(to bottom, #085c00, #0c2564);
    background-repeat: no-repeat;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 0.1;
    letter-spacing: 0.1px;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

h1, h2 {
    color: #ffffff;
    text-decoration: underline;
    font-size: 24px;
}

p {
    color: #ffffff;
    font-size: 16px;
}

a {
    text-decoration: solid;
    color: #8fcdff;
}

a:hover {
    text-decoration: underline;
}